.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu Mono', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
}

.gradient-background {
  background-image: linear-gradient(45deg, rgba(0, 150, 136, 0.5), rgba(144, 230, 144, 0.5), rgba(0, 255, 0, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 720px;
  box-shadow: inset 0px 0px 24px 0px rgba(66, 68, 90, 1);
}

.Main-container {
  min-width: 650px;
}

.Tags-container {
  display: flex;
  justify-content: center;
  padding: 5px 20px 20px 20px;
}

.box-shadow {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

.text-style {
  text-shadow: 2px 2px 6px rgba(66, 68, 90, 0.4);
  padding: 5px;
}

.base-container {
  display: flex;
  align-items: center;
}

.Top-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.table-container {
  padding: 0px 0px 0px 0px;
  margin-bottom: 20px;
  min-width: 650px;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.control-panel {
  padding: 10px 20px 20px 20px;
  background-color: whitesmoke;
  border: solid;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.6);
  border-collapse: collapse;
  border-width: 0.1px;
  min-width: 610px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;  
}

.control-panel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.control-label {
  padding: 10px;
  text-shadow: 2px 2px 6px rgba(66, 68, 90, 0.4);
}

.arrow-inside-btn {
  font-size: 15px;
  padding: 0;
}

.MuiFormControl-root.css-1nrlq1o-MuiFormControl-root {
  flex-direction: row;
  -webkit-flex-direction: row;
}

@media (max-width: 610px) {
  .control-panel,
  .Main-container,
  .table-container {
    min-width: 0;
    width: auto;
  }

  .control-panel {
    max-width: 13.3rem;
  }

  .control-panel-buttons {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 5px 0px;
    justify-content: center;
  }

  .MuiFormControl-root.css-1nrlq1o-MuiFormControl-root,
  .MuiFormControl-root {
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .MuiFormControl-root{
    flex-direction: column !important;
    -webkit-flex-direction: column !important;
  }


  .control-label {
    padding: 0px;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    max-width: 130px;
    font-size: 12px;
  }

  .Tags-container {
    padding: 0px;
  }

  @media (max-width: 200px) {
    .base-container {
      flex-direction: column;
      justify-content: center;
    }
  }
}
